{% extends "base.html" %}
{% block title %}Контакты | InsideSports{% endblock %}

{% block content %}
<div class="container py-4">
  <h2 class="mb-4 border-bottom pb-2">Контакты</h2>

  <p>Редакция InsideSports всегда открыта к сотрудничеству и предложениям.</p>

  <ul class="list-unstyled">
    <li><strong>По всем вопросам:</strong> <a href="mailto:editor@insidesports.ru">kopytext@gmail.com</a></li>
    <li><strong>Телеграм:</strong> <a href="https://t.me/InsideSports" target="_blank">@Kopytextgmail</a></li>
  </ul>
</div>
{% endblock %}
