{% extends 'news/base.html' %}

{% block content %}
<div class="row">
    <!-- Главная новость -->
    {% if main_article %}
    <div class="col-md-8">
        <div class="card mb-4 shadow-sm">
            <a href="{% url 'news:article_detail' main_article.slug %}">
                <img src="{{ main_article.image_url }}" class="card-img-top" alt="{{ main_article.title }}">
            </a>
            <div class="card-body">
                <a href="{% url 'news:article_detail' main_article.slug %}" class="text-decoration-none">
                    <h2 class="card-title article-title">{{ main_article.title }}</h2>
                </a>
                <span class="badge
                    {% if main_article.category.name == 'Футбол' %} bg-success
                    {% elif main_article.category.name == 'Хоккей' %} bg-danger
                    {% elif main_article.category.name == 'Теннис' %} bg-warning text-dark
                    {% else %} bg-secondary {% endif %}">
                    {{ main_article.category.name }}
                </span>
                <p class="mt-3">{{ main_article.preview }}</p>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Все статьи справа -->
    <div class="col-md-4">
        <h4 class="mb-3">Все новости</h4>
        <ul class="list-group">
            {% for art in articles %}
            <li class="list-group-item">
                <a href="{% url 'news:article_detail' art.slug %}" class="text-decoration-none fw-bold">
                    {{ art.title }}
                </a><br>
                <span class="badge
                    {% if art.category.name == 'Футбол' %} bg-success
                    {% elif art.category.name == 'Хоккей' %} bg-danger
                    {% elif art.category.name == 'Теннис' %} bg-warning text-dark
                    {% else %} bg-secondary {% endif %}">
                    {{ art.category.name }}
                </span>
            </li>
            {% empty %}
            <li class="list-group-item">Нет новостей</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
