<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новостной сайт</title>
</head>
<body>
    <header>
        <h1><a href="/">Новостной сайт</a></h1>
        <nav>
            <ul>
                {% for cat in categories %}
                    <li><a href="{% url 'category_detail' cat.id %}">{{ cat.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
